.main-centre {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

h1 {
    text-align: center;
}

p {
    text-align: left;
}

.background {
    background-color: #12619d;
}

.main-title {
    padding-bottom: 50px;
}

#inner {
    width: 50%;
    margin: 0 auto;
}