<div class="quiz-area" ng-show="inProgress">
    <div id="inner" ng-show="!quizOver">
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}">
                    {{option}}
                </label>
            </li>
        </ul>

        <button class ="btn btn-primary btn-lg" ng-click="assignTag()" ng-show="answerMode">Submit</button>

        <div ng-show="!answerMode">
            <button class ="btn btn-primary btn-lg" ng-click="nextQuestion()" class="next-question">Next</button>
        </div>

    </div>
</div>

<div id="inner" ng-show="quizOver">
    <h3>Thanks for playing!</h3>
    <br>
    <b>Degree: </b> {{JSON.degree}} <br>
    <b>Faculty: </b> {{JSON.faculty}} <br>
    <b>Career: </b><div id="career"></div>
    <b>Description: </b><div id="description"></div>

    <button class ="btn btn-primary btn-lg" ng-click="reset()">More</button>
</div>

<!-- todo: add a "Loading..." button -->

<div id="inner" class="intro" ng-show="!inProgress">
    <p>Welcome to the Fed Uni Course Quiz</p>
    <button class ="btn btn-primary btn-lg" id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>

<br><br>

<div id="charAttributes">
    Char tags: {{characterTags}}
</div>