<div class="quiz-area" ng-show="inProgress">
    <div id="inner" ng-show="!quizOver">
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}">
                    {{option}}
                </label>
            </li>
        </ul>

        <button class ="btn btn-primary btn-lg" ng-click="assignTag()" ng-show="answerMode">Submit</button>

        <div ng-show="!answerMode">
            <button class ="btn btn-primary btn-lg" ng-click="nextQuestion()" class="next-question">Next</button>
        </div>

    </div>
</div>

<div id="inner" ng-show="quizOver">
    <h3>Thanks for playing!</h3>
    <br>
    {{JSON.degree}} <br>
    {{JSON.faculty}}
    <!--
    <div id="degree"></div>
    <div id="faculty"></div>
    -->
    <div id="career"></div>
    </b><div id="description"></div>

    <button class ="btn btn-primary btn-lg" ng-click="reset()">Play Again</button>
    <button class ="btn btn-primary btn-lg" ng-click="displayResults()">Results</button>
    <button class ="btn btn-primary btn-lg" ng-click="displayBattle()">Fight!</button>
</div>

<div id="inner" ng-show="battleOverlay">
    <img src="processing/attributes.png" width="50%" height="50%"> <br>
    <button class ="btn btn-primary btn-lg" ng-click="reset()">Play Again</button>
    <button class ="btn btn-primary btn-lg" ng-click="displayResults()">Results</button>
    <button class ="btn btn-primary btn-lg" ng-click="displayBattle()">Fight!</button>
</div>

<!-- todo: add a "Loading..." button -->

<div id="inner" class="intro" ng-show="!inProgress">
    <br>
    <p>Welcome to the Federation University course quiz! Based on your choices, you will be matched with an avatar that will battle others for glory.</p>
    <button class ="btn btn-primary btn-lg" id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>

<br><br>

<div id="charAttributes">
    Tags: {{characterTags}}
</div>